body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}

.chatbox {
    border: 1px solid #aaa;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.form {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
}
