{% extends 'base.html' %}

{% block head %}
<title>Chat Room</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Welcome, {{ session['username'] }}!</h1>
    <a href="/logout" style="float: right;">Logout</a>

    <div class="chatbox">
        {% for msg in messages %}
            <p>
                <strong>{{ msg.user.username }}:</strong> {{ msg.content }}
                <small style="color: gray;">({{ msg.date_created.strftime('%Y-%m-%d %H:%M') }})</small>
                
                {% if msg.user_id == session['user_id'] %}
                    <br>
                    <a href="/update/{{ msg.id }}">Update</a> | 
                    <a href="/delete/{{ msg.id }}">Delete</a>
                {% endif %}
            </p>
        {% endfor %}
    </div>

    <div class="form">
        <form action="/chat" method="POST">
            <input type="text" name="content" placeholder="Type your message..." required>
            <input type="submit" value="Send">
        </form>
    </div>
</div>
{% endblock %}
